/group121/build/
/DuomenuBaze1/build/classes/org/bit/*.class
/DuomenuBaze1/build/classes/org/bit/datamodel/*.class
/DuomenuBaze1/build/classes/org/bit/koreguotini/*.class
/DuomenuBaze1/build/classes/org/bit/services/*.class
